{% extends "base.html" %}
{% block content %}
{% if not is_component %}

<h2>Upload Excel file for Barnes and Noble <a class="help-icon" href="/help#barnes-and-noble" title="Help" aria-label="Help">?</a></h2>

<!-- Download Template -->
<p>
    <a href="{{ url_for('static', filename='BN titles.xlsx') }}"
       class="btn btn-primary"
       download>
        Download Template Spreadsheet
    </a>
</p>

<form action="/barnes_and_noble/upload" method="post" enctype="multipart/form-data" onsubmit="submitFormWithFetch(event, this)">
    <input type="file" name="file" required>
    <input type="hidden" name="isComponent" value="false">
    <button type="submit">Upload</button>
</form>

{% else %}

<template id="barnes-and-noble-file-uploader">
    <h2>Upload Excel file for Barnes and Noble</h2>

    <!-- Download Template -->
    <p>
        <a href="{{ url_for('static', filename='BN titles.xlsx') }}"
           class="btn btn-primary"
           download>
            Download Template Spreadsheet
        </a>
    </p>

    <form id="uploadForm" action="/barnes_and_noble/upload" method="post" enctype="multipart/form-data">
        <input type="file" name="file" required>
        <input type="hidden" name="isComponent" value="true">
        <button type="submit">Upload</button>
    </form>

</template>

{% endif %}
{% endblock %}
