<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Self Service Portal</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}"> 
    <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.17.0/xlsx.full.min.js"></script>

    <script>
        async function submitFormWithFetch(event, form) {
            event.preventDefault();  // Prevent normal form submission
            showHourglass();

            let formData = new FormData(form);

            try {
                let response = await fetch(form.action, {
                    method: "POST",
                    body: formData
                });

                if (!response.ok) throw new Error("Network response was not ok");

                let blob = await response.blob();
                let filename = getFilenameFromResponse(response) || "download.xlsx";

                let link = document.createElement("a");
                link.href = window.URL.createObjectURL(blob);
                link.download = filename;
                document.body.appendChild(link);
                link.click();
                document.body.removeChild(link);
                
            } catch (error) {
                alert("Error downloading file: " + error.message);
            } finally {
                hideHourglass();
            }
        }

        function showHourglass() {
            $("#hourglass").show();
        }

        function hideHourglass() {
            $("#hourglass").hide();
        }

        function getFilenameFromResponse(response) {
            let disposition = response.headers.get("Content-Disposition");
            if (disposition && disposition.includes("filename=")) {
                return disposition.split("filename=")[1].replace(/['"]/g, "");
            }
            return null;
        }
    </script>
</head>
<body>
    <div id="hourglass" style="display: none;">
        <div class="spinner"></div>
    </div>
    <header>
        <div class="logo">Tufts Libraries&nbsp;&nbsp;<span class="subtext">Self Service Portal</span><p><a href="/">Home</a></p></div></div> 
        
    </header>
    <div class="content">
        {% block content %}{% endblock %}
    </div>
    <!-- <div id="footer">
        <div>
        <div id="float-first">
        <img src="tufts-logo-univ-white.svg" class="footer" />
        <br />
        <span style="font-size: .9em">Copyright &copy;2013 <a href="http://www.tufts.edu">Tufts University</a> <br /><span style="color:white;">All Rights Reserved.</span></span>
        </div>
        
        <div id="float-second">
        <table id="footer_table" style="font-size: .9em" cellspacing="0">
        
                        <tr>
                            <td>Ginn Library</td>
        
                            <td>
                                <a href="mailto:ginncirc@tufts.edu">ginncirc@tufts.edu</a>
                            </td>
        
                            <td>617-627-3852</td>
        
                        </tr>
                        <tr>
                            <td>Hirsh Health Sciences Library</td>
        
                            <td>
                                <a href="mailto:hhsl@tufts.edu">hhsl@tufts.edu</a>
                            </td>
                            <td>617-636-6706</td>
        
                        </tr>
                        <tr>
                            <td>Lilly Music Library</td>
        
                            <td>
                                <a href="mailto:musiclib@tufts.edu">musiclib@tufts.edu</a>
                            </td>
                            <td>617-627-3594</td>
        
                        </tr>
                        <tr>
                            <td>SMFA Library</td>
        
                            <td>
                                <a href="mailto:smfalibrary@tufts.edu ">smfalibrary@tufts.edu</a>
                            </td>
                            <td>617-627-0080</td>
        
                        </tr>
                        <tr>
                            <td>Tisch Library</td>
        
                            <td>
                                <a href="mailto:tischfrontline@elist.tufts.edu"
                                    >tischfrontline@elist.tufts.edu</a>
                            </td>
                            <td>617-627-3347</td>
        
                        </tr>
                        <tr>
                            <td>Webster Vet Library</td>
        
                            <td>
                                <a href="mailto:webvet@tufts.edu">webvet@tufts.edu</a>
                            </td>
                            <td>508-839-7957</td>
        
                        </tr>
        
                    </table>
        
        <br />
        
        </div>
        </div></div> -->
        

</body>
</html>
