{% extends "base.html" %}
{% block content %}
    <h2 style="color:blue">ALMA PROD</h2>
    <h2>Bib 2 Holdings 541</h2>
    <p>Upload a single column text file with each MMS on a separate line, of records for which you want to apply the bib 541 to the holding record.</p>
    <form action="/bib_2_holdings_541/upload" name="fileUpload" method="post" enctype="multipart/form-data" onsubmit="submitFormWithFetch(event, this)">
        <input type="file" name="file" required>
        <button type="submit">Upload</button>
    </form>
{% endblock %}
