{% extends "base.html" %}
{% block content %}
    <h2>Gift Fund Bibliography</h2>
    <p>Use this generator to create biblographies, in the Chicago citation style, for books purchases with book funds either within Tisch or Ginn Libraries</p>
    <p>It also creates an Excel file with Primo links that can be used in Catagalogin and Collections processes.</p>
    <form action="/gift_fund_bibliography/process" method="post" enctype="multipart/form-data" onsubmit="submitFormWithFetch(event, this)">
        <label for="library">Library:</label>
        <input type="text" name="library" required>
        <label for="fiscal_year">Fiscal Year:</label>
        <input type="text" name="fiscal_year" placeholder="e.g. 2025" required>
        <button type="submit">Generate Bibliography</button>
    </form>

    
{% endblock %}